@model SolucionReportes.Models.DescargaViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VistaParaPDF</title>
</head>
<body>
    
</body>
</html>
